table {
    width: 100%;
    font-size: 9px;
    border-collapse: collapse;
}

#userdefs {
    position: absolute;
    left: 8px;
    top: 65px;
    z-index: 1;
    display: none;
}

#defs {
    border: 1px solid black;
    width: 5in;
}

#defs tr {
    width: 100%;
}

#defs td {
    margin: 5px;
    padding: 5px;
    background-color: white;
}

#container {
    table-layout: fixed;
    border: 1px solid #444;
    background-color: #ffa;
    margin: 0 0 0 0;
    width: 5in;
}
#spec {
    background-color: lightblue;
}
#objRaster {
    display: none;
}
#skyRaster {
    display: none;
}
.dropbtn {
    padding: 5px;
    color: white;
    border: None;
    cursor: pointer;
    background-color: #3498DB;
}
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: None;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.show {
    display: block;
}
.outer > td {
    border: 1px solid #444;
    background-color: #ffa;
    width: 25%;
    padding: 5px;
    margin: 5px 5px 5px 5px;
}
.nopads {
    padding: 0;
    margin: 0 0 0 0;
}
table.inner {
    width=100%;
}
tr.inner {
    outline: thin solid black;
    width=100%;
}
tr.inner > td {
    padding-left: 5px;
}
.align-right {
    text-align: right;
}
input[type='text'].short {
    width: 0.4in;
    font-size: 9px;
}
input[type='text'].medium {
    width: 1.0in;
    font-size: 9px;
}
input[type='text'].long {
    width: 1.5in;
    font-size: 9px;
}
select {
    font-size: 9px;
}
input[type='button'] {
    font-size: 9px;
}
